$color_font:#212121;
$color_font_2:#fff;
$color_back:#f46a35;
$font_f:"Roboto",sans-serif;

*{
  margin: 0;
  padding: 0;
}

header .container_menu{
  max-width: 1152px;
  display: flex;
  justify-content: space-between;
  margin: auto;
  margin-top: 20px;
  align-items: center;
  margin-bottom: 20px;
}
.container_menu a{
  font-size: 14px;
  text-decoration: none;
  font-family: "Roboto",sans-serif;
  font-weight: 400;
  line-height: 143%;
  letter-spacing: 0.01em;
  color: $color_font;
  display: flex;

}
.container_menu li{
  list-style: none;


}
.container_menu ul{
  display: flex;
  justify-content: space-between;
  gap: 38px;
}
.container_menu ul:first-of-type{
  margin-left:1px;
}
.container_menu ul li .solutions:after{
  background-image: url("../images/arrow_header.svg");
  content: "";
  width: 13px;
  height: 9px;
  margin-top:6px;
  margin-left: 8px;
}

.contact_sales{
  border: 1px solid $color_back;
  border-radius: 10px;
  background: $color_back;
  line-height: 157%!important;
  color: #fff!important;
  padding: 7px 26px 7px 26px;
  align-items: center;
  justify-content: center;
}
.open_account{
  margin-left: 124px;
}
.banner{
  max-width: 1200px;
  display: flex;
  margin: auto;
  position: relative;

}
.baner_img{
  position: absolute;
  right: 0;

}

h1{
  margin-left: 48px;
  margin-top: 96px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 40px;
  line-height: 130%;
  letter-spacing: 0.04em;
  color: $color_font;
  margin-bottom: 23px;
}
.banner span{
  margin-left: 48px;
}
.banner span a:first-of-type{
    font-family: $font_f;
    font-weight: 400;
    font-size: 14px;
    line-height: 157%;
    color: $color_font;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    text-decoration: none;
    padding: 13px 32px 13px 32px;
    margin-right: 6px;
    margin-bottom: 63px;
  &:hover {
    background-color: $color_back;
    color: $color_font_2;
  }
}
.banner span a:last-of-type{
  font-family: $font_f;
  font-weight: 400;
  font-size: 14px;
  line-height: 157%;
  color: $color_font;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  text-decoration: none;
  padding: 13px 21px 13px 22px;
  margin-right: 6px;
  &:hover {
    background-color: $color_back;
    color: $color_font_2;
  }
}
.banner .brx {
  margin-left: 48px;
  &:first-of-type {
    margin-top: 63px;
  }
  padding-bottom: 30px;
  padding-top: 30px;
  border-top: solid 1px #edf6ee;
  h4 {
    font-family: $font_f;
    font-weight: 400;
    font-size: 16px;
    line-height: 125%;
    letter-spacing: 0.02em;
    color: $color_font;
    margin-bottom: 10px;
  }
  p {
    font-family: $font_f;
    font-weight: 400;
    font-size: 14px;
    line-height: 143%;
    letter-spacing: 0.02em;
    color: $color_font;
    margin-bottom: 8px;
  }
  a {
    font-family: $font_f;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: $color_back;
    text-decoration: none;
    display: flex;

  }
  a:after{
    content: "";
    background-image:url("../images/learn_more.svg");
    background-repeat: no-repeat;
    width: 12px;
    height: 18px;
    margin-top:9px;
    margin-left: 4px

  }
}
.ads {
  max-width: 1200px;
  display: flex;
  margin: auto;
  margin-top: 155px;
  .container_ads {
    display: flex;
    align-items: center;
    margin-bottom: 208px;
  }
}
.item {
  flex: 1 0 auto;
  margin-right: 48px;
  img {
    height: 24px;
  }
}
h2{
  text-align: center;
  font-family: $font_f;
  font-weight: 400;
  font-size: 36px;
  line-height: 144%;
  letter-spacing: 0.04em;
  color: $color_font;
  margin-bottom: 8px;
}
.paragraph{
  text-align: center;
  font-family: $font_f;
  font-weight: 400;
  font-size: 19px;
  line-height: 168%;
  letter-spacing: 0.02em;
  color: $color_font;
  margin-bottom: 48px;
}
.cards .cards_container {
  max-width: 1200px;
  margin: auto;
  display: flex;
  margin-bottom: 72px;
}
.card_1,.card_2 {
  .img_card_1{
    margin-left: 16px;
  }
  .img_card_2{
    margin-left: 8px;
  }
  img {
    width: 580px;
    height: 641px;

  }
  position: relative;
  .enterprise {
    position: absolute;
    top: 48px;
    text-align: center;
    margin-left: 72px;
  }
  .startups {
    position: absolute;
    top: 48px;
    text-align: center;
    margin-left: 80px;
  }
}
.enterprise {
  h4 {
    font-family: $font_f;
    font-weight: 400;
    letter-spacing: 0.02em;
    text-align: center;
    color: $color_font_2;
    font-size: 32px;
    line-height: 125%;
    margin-bottom: 10px;
  }
  p {
    font-family: $font_f;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    text-align: center;
    color: $color_font_2;
    margin-bottom: 35px;
  }
  a {
    font-family: $font_f;
    font-weight: 400;
    font-size: 14px;
    line-height: 157%;
    color: $color_font_2;
    text-decoration: none;
    border: 1px solid $color_font_2;
    border-radius: 10px;
    height: 48px;
    padding: 13px 41px;
  }
}
.startups {
  h4 {
    font-family: $font_f;
    font-weight: 400;
    letter-spacing: 0.02em;
    text-align: center;
    color: $color_font;
    font-size: 32px;
    line-height: 125%;
    margin-bottom: 10px;
  }
  p {
    font-family: $font_f;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    text-align: center;
    color: $color_font;
    margin-bottom: 35px;
  }
  a {
    font-family: $font_f;
    font-weight: 400;
    font-size: 14px;
    line-height: 157%;
    color: $color_font;
    text-decoration: none;
    border: 1px solid $color_font;
    border-radius: 10px;
    height: 48px;
    padding: 13px 41px;
  }
}






